{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "resolveJsonModule": true,
    "no-unused-vars": 1,
    "@typescript-eslint/indent": 2
  },
  "extends": ["plugin:@typescript-eslint/recommended"]
}
